/*fonts*/

.Home {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p {
  margin-bottom: 40px;
  color: #333333;
}

h1 {
  color: #608F79;
  margin-bottom: 30px;
  font-size: 70px;
}

h5 {
  margin-top: 30px;
  margin-left: 7px;
  color: #333333!important;
}

h6 {
  margin-bottom: 40px;
  color: #333333;
}

/*buttons*/

.btn-outline-danger {
  color: #FFFEF1;
  border: none;
  border-radius: 0px;
  font: 16px Lato, san-serif!important;
  background-color: #BF0D60;
  height: 50px;
  width: 160px;
  text-align: center!important;
  padding-top: 17px;
  font-weight: normal!important;
  line-height: 19px;
  font-style: normal!important;
}

.letstalk2 .btn-outline-danger {
  margin-bottom: 30px;
  margin-top: 25px;
}

/*letstalkontheright*/

.letstalk {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #FFFEF1;
  padding-bottom: 10px;
}

.letstalk .btn-outline-danger {
  float: right;
  margin-top: 30px;
  margin-right: 1px;
}

.btn-outline-danger:active {
  background-color: #BF0D60!important;
  border: none!important;
  border-radius: 0px!important;
}

.btn-outline-danger:hover {
  background-color: #D25690!important;
  border: none!important;
  border-radius: 0px!important;
}

.btn-outline-danger:visited {
  background-color: #EB88B6!important;
  border: none!important;
  border-radius: 0px!important;
}

/*content*/

.edittext h6 {
  color: #9BC4B1;
  transform: rotate(-90deg);
  float: right;
  font-size: 12px;
  margin-right: -30px;
  margin-top: 90px;
}

.edittext2 h6 {
  color: #9BC4B1;
  transform: rotate(-90deg);
  float: right;
  font-size: 12px;
  margin-right: -25px;
  margin-top: 50px;
}

.edittext3 h6 {
  color: #9BC4B1;
  transform: rotate(-90deg);
  float: right;
  font-size: 12px;
  margin-right: -40px;
  margin-top: 50px;
}

.edittext1 h6 {
  color: #9BC4B1;
  transform: rotate(-90deg);
  float: right;
  font-size: 12px;
  margin-right: -25px;
  margin-top: 70px;
}

.edittext4 h6 {
  color: #9BC4B1;
}

/*rightside bar*/

/*social media icons*/

.App_right_sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 300px;
  margin-right: 30px;
}

.col-xl-1 {
  background-color: #FFFEF1!important;
  padding-right: 50px;
  padding-left: 50px;
}

.App_right_sidebar i {
  margin-bottom: 24px;
}

.fa.fa-envelope {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9BC4B1;
}

.github {
  color: #9BC4B1;
  font-size: 24px;
  margin-bottom: 24px;
  margin-left: -3px;
}

.fab.fa-twitter.fa-lg {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9BC4B1;
}

.fab.fa-linkedin-in.fa-lg {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9BC4B1;
}

.github:hover {
  fill: #608F79;
}

.github:visited {
  color: #608F79;
}

.github:active {
  color: #9BC4B1;
}

.fab.fa-twitter.fa-lg:hover {
  color: #608F79;
}

.fab.fa-twitter.fa-lg :visited {
  color: #608F79;
}

.fab.fa-twitter.fa-lg:active {
  color: #9BC4B1;
}

.fab.fa-linkedin-in.fa-lg:hover {
  color: #608F79;
}

.fab.fa-linkedin-in.fa-lg :visited {
  color: #608F79;
}

.fab.fa-linkedin-in.fa-lg:active {
  color: #9BC4B1;
}

.fa.fa-envelope:hover {
  color: #608F79;
}

.fa.fa-envelope:visited {
  color: #608F79;
}

.fa.fa-envelope:active {
  color: #9BC4B1;
}

/*scrollpsy*/

scrollspy-example {
  height: 100vh;
}

/* media queries */

@media (max-width: 320px) {
  .w3-bottombar {
    width: 800%!important;
  }
  .navbarline {
    display: none;
  }
  .navbarline1 {
    display: none;
  }
  h1 {
    font-size: 30px!important;
  }
  .col-xl-10.y h5 {
    margin-left: -0.1px!important;
    margin-bottom: 10px!important;
  }
  /*content of portfolio*/
  .col-xl-10.p h5 {
    color: #608F79 !important;
    margin-left: -0.1px!important;
    margin-bottom: 10px!important;
  }
  h5 {
    padding-top: 1%;
    margin-left: 14px!important;
    /* margin-bottom: -10px!important; */
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 20px;
    height: 45px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: -15px;
    margin-right: -25px;
  }
  .App_right_sidebar {
    position: static;
    flex-direction: row;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 15%!important;
  }
  .fixed-bottom-mobile {
    position: fixed;
    bottom: 0;
  }
  .App_right_sidebar a {
    margin-right: 40.5%;
    font-size: 15px;
  }
}

@media (max-width: 385px) and (min-width:321px) {
  .w3-bottombar {
    width: 900%!important;
    margin-top: -5px;
  }
  .navbarline {
    display: none;
  }
  .navbarline1 {
    display: none;
  }
  h5 {
    padding-top: 1%;
    margin-left: 14px!important;
    /* margin-bottom: -15px!important; */
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 50px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: -15px;
  }
  .col-xl-10.y h5 {
    margin-left: -0.1px!important;
    margin-bottom: 10px!important;
  }
  /*content of portfolio*/
  .col-xl-10.p h5 {
    color: #608F79 !important;
    margin-left: -0.1px!important;
    margin-bottom: 10px!important;
  }
  .App_right_sidebar {
    position: static;
    flex-direction: row;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 15%!important;
  }
  .fixed-bottom-mobile {
    position: fixed;
    bottom: 0;
  }
  .App_right_sidebar a {
    margin-right: 40.5%;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .navbarline {
    display: none;
  }
  .navbarline1 {
    display: none;
  }
  h1 {
    margin-left: -2px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .editblogtext h1 {
    font-size: 40px;
  }
  .col-xl-9.b .col-xl-10 {
    margin-top: -115px;
  }
  .col-xl-9.mr-0.pr-0 .col-xl-10 {
    margin-top: -115px;
  }
  h5.main-header {
    position: static;
    padding-top: 1%;
    margin-left: 15px;
    margin-bottom: -15px;
  }

  .navbar-expand-xl {
    position: static;
    margin-top: -15px;
    margin-left: 0px;
    float:right;
  }
  .bg-light {
    background-color: #ffffff!important;
  }
  nav ul li a {
    color: #BF0D60;
  }
  .App_right_sidebar {
    position: static;
    flex-direction: row;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 25.5%;
  }
  .fixed-bottom-mobile {
    position: fixed;
    bottom: 0;
  }
  .App_right_sidebar a {
    margin-right: 40.5%;
    font-size: 15px;
  }
  h5 {
    padding-top: 1%;
    margin-left: 15px;
    /* margin-bottom: -15px; */
  }
  .edittext h6 {
    display: none
  }
  .edittext1 h6 {
    display: none
  }
  .edittext2 h6 {
    display: none
  }
  .edittext3 h6 {
    display: none
  }
  .edittext4 h6 {
    display: none
  }
  .col-xl-10.y {
    padding-top: 50px;
  }
  .col-xl-10.p {
    padding-top: 50px;
  }
  .w3-rightbar {
    display: none
  }
  .w3-bottombar {
    width: 1100%;
    margin-top: -5px;
  }
  .letstalk {
    display: none;
  }
  .isCurrent {
    border: none;
  }
  nav ul li .active {
    border: none
  }
  /* .nav__horizontal {
    display: none;
  } */
  .Contentbody {
    margin-top: 0px!important;
  }

  .section-body {
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .about-section {
    height: auto;
  }
  .row-section {
    margin-top: 100px;
  }
  .tech-skills-section {
    height: auto;
  }
  .portfolio-section {
    height: auto;
  }

  .blog-section {
    height:auto;
  }

  .main-header {
    position: initial;
    height: 50px;
    line-height: 3;
    width: 70%;
    display: inline-block;
    margin-left: 15px;
  }
  .breadcrumb-container {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }
  .section-body>div.col-xl-12 {
    width: 100%;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .no-mobile-padding {
    padding: 0px;
  }
}

/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) and (min-width: 577px) {
  .navbarline {
    display: none;
  }
  .navbarline {
    display: none;
  }
  .col-xl-10.y {
    padding-top: 50px;
  }
  .col-xl-10.p {
    padding-top: 50px;
  }
  h5.main-header {
    position: static;
    padding-top: 1%;
    margin-left: 15px;
    margin-bottom: -15px;
  }

  .navbar-expand-xl {
    position: static;
    margin-top: -15px;
    margin-left: 0px;
    float:right;
  }
  h1 {
    margin-left: -2px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .editblogtext h1 {
    font-size: 40px;
  }
  .col-xl-9.b .col-xl-10 {
    margin-top: -115px;
  }
  .col-xl-9.mr-0.pr-0 .col-xl-10 {
    margin-top: -115px;
  }
  .letstalk {
    display: none;
  }
  .w3-rightbar {
    display: none
  }
  
  .bg-light {
    background-color: #ffffff!important;
  }
  nav ul li a {
    color: #BF0D60;
  }
  .App_right_sidebar {
    position: static;
    flex-direction: row;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 37.5%;
  }
  .fixed-bottom-mobile {
    position: fixed;
    bottom: 0;
  }
  .App_right_sidebar a {
    margin-right: 40.5%;
    font-size: 15px;
  }
  .w3-bottombar {
    width: 1500%;
  }
  .edittext h6 {
    display: none
  }
  .edittext1 h6 {
    display: none
  }
  .edittext2 h6 {
    display: none
  }
  .edittext3 h6 {
    display: none
  }
  .edittext4 h6 {
    display: none
  }
  .isCurrent {
    border: none;
  }
  nav ul li .active {
    border: none
  }
}

@media (max-width: 800px) {
  .nav__aside {
    display: none;
  }
}


@media (max-width: 1024px) and (min-width:769px) {
  .col-xl-10.y {
    padding-top: 50px;
  }
  .col-xl-10.p {
    padding-top: 50px;
  }
 
  h5.main-header {
    position: static;
    padding-top: 1%;
    margin-left: 15px;
    margin-bottom: -15px;
  }
  h1 {
    margin-left: -2px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .editblogtext h1 {
    font-size: 40px;
  }
  .col-xl-9.b .col-xl-10 {
    margin-top: -115px;
  }
  .col-xl-9.mr-0.pr-0 .col-xl-10 {
    margin-top: -115px;
  }
  .letstalk {
    display: none;
  }
  .isCurrent {
    border: none;
  }
  nav ul li .active {
    border: none
  }
  nav ul li a {
    color: #BF0D60;
  }
  .navbar-expand-xl {
    position: static;
    margin-top: -15px;
    margin-left: 0px;
    float:right;
  }
  .App_right_sidebar {
    position: static;
    flex-direction: row;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 37.5%;
  }
  .fixed-bottom-mobile {
    position: fixed;
    bottom: 0;
  }
  .App_right_sidebar a {
    margin-right: 40.5%;
    font-size: 15px;
  }
  .edittext h6 {
    display: none
  }
  .edittext1 h6 {
    display: none
  }
  .edittext2 h6 {
    display: none
  }
  .edittext3 h6 {
    display: none
  }
  .edittext4 h6 {
    display: none
  }
}


@media (width: 1920px) {

  .App_right_sidebar {
    margin-left: 20px!important;
  }
  .main-row-section {
    height: 95vh;
  }
  .about-section {
    height: 75vh;
  }

  .blog-section {
    height:90vh;
  }
}

