/*fonts*/
.Home{
  font-family: Lato, sans-serif;
}



.Contentbody{
  font-family: Lato, sans-serif;
}

nav{
  font-family: Lato, sans-serif;
}

.BlogPage{
    font-family: Lato, sans-serif;
}

h1 {
  color: #608F79;
  margin-bottom: 30px;
}

h5{
  margin-top:60px;
  margin-left:54px;
}

h6 {
  margin-bottom: 20px;
}

.letstalk2 .btn-primary{
  margin-bottom: 30px;
  margin-top: 20px;
}

/*buttons*/
.btn-outline-danger:active{
  background-color: #BF0D60;
}

.btn-outline-danger:hover{
  background-color: #D25690;
}
.btn-outline-danger {
  color: #fff;
  background-color: #F2CFDF;
  border: none;
  border-radius: 0rem;
}

.btn-outline-danger:visited{
  background-color: #EB88B6;
}

/*content*/
.Contentbody{
  margin-top:152px;
}

.w3-border {
  color:#000 !important; 
  background-color:#fff !important;
  border: 1px solid #fff!important;
} 

.w3-bottombar{
  width: 740px;
  border-bottom: 1px solid #9bc4b1!important;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.w3-rightbar{
  height: 420px;
  width:2px;
  border-right: 1px solid #9bc4b1!important;
  float: right;
}

.navbar-header1 .w3-rightbar{
  height: 855px;
  width:2px;
  border-right: 1px solid #9bc4b1!important;
  float: right;
}
.navbar-header2 .w3-rightbar{
  height: 843px;
  width:2px;
  border-right: 1px solid #9bc4b1!important;
  float: right;
}

.navbar-header3 .w3-bottombar{
  margin-bottom: 0rem;
}
.edittext h6{
  color: #9BC4B1;
transform: rotate(-90deg);
float: right;
}

.edittext1 h6{
  color: #9BC4B1;
 
}

/*content of technical skills*/

.mb-3{
  border: none;
  margin-left: 19px;
}
.card-body{
 
  background-color:#ffffff;
  padding: 0rem;
}


/*content of portfolio*/
.card{
  border:none;
  margin-left: 15px;
}
/*letstalkontheright*/
.letstalk{
  float: right;
  margin-top:60px;
  margin-right: 1px;
}

/*rightside bar*/
.App_right_sidebar{
  margin-top:60px;
  margin-right:0px;
}

/*social media icons*/
.App_right_sidebar{
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 300px;
}

.App_right_sidebar i{
  color: #9BC4B1;
}

.App_right_sidebar i:hover{
  color: #608F79;
  
}

.App_right_sidebar i:visited{
  color: #608F79;
}


/*blog.js*/ 

.homeBar{
  
  margin-left: 5%;
}

.moreBar{
  margin-left:15%;
}
/*navbar*/
nav
{
padding-left:3px; 
padding-right:30px; 
padding-bottom:0px; 
padding-top:222px ;
}

nav ul
{
  
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.bloglink{
margin-left: -5px;
}
.navMarker li {
  
  margin-left: 0rem;
  padding-left: 0px;
  text-align: left;
  
 
}
.bg-light{
  background-color: white!important;
}
.navbar-light .navbar-toggler{
  color:#BF0D60;
  border-color:#EB88B6;
  font-size:0.5rem;
}
.navbar-toggler{
  font-size: 0.5rem;
}
nav ul li
{
  margin:30px;
}
.fixed-top{
  display: none;
}
nav ul li a:hover{
  color: #BF0D60;
}

.navbar-expand-lg{
  position:fixed;
  margin-top: 105px;
  margin-left: -20px;


}

nav ul li .active{
border-left: 2px solid #BF0D60;

}
/*scrollpsy*/
scrollspy-example {
    height: 100vh;
  }
 
  /*blog*/
 
  .BlogContent{
    margin-top:152px;
  }
  .mb-3{
    display: flex;
    justify-content: space-between;
  }
  .row{
    display: flex;
    
    justify-content: space-between;
  }
 
  .card-title{
    margin-left: 4px;
  }

  a{
    color: black;
  }

  .Read{
   text-decoration: underline;
  }

  .MoreArticles{
    color:  #BF0D60;
    text-decoration: underline;
    
  }

  .MoreArticles :hover{
    color:  #BF0D60;
  }

  .MoreArticles :active{
    color:  #BF0D60;
  }

  .MoreArticles :visited{
    color:  #BF0D60;
  }
  .more{
    margin-top: 80px;
  }
  a:hover{
    color:  #BF0D60;
  }
  /* media queries */
@media (max-width: 576px) { 
  .navbar-expand-lg{
    position: static;
    margin-top: -35px;
    margin-right: -10px;
    float:right;
  
  }
 
  .App_right_sidebar{
    flex-direction: row;
    float:left;
    margin-left: 140px;
    margin-top:20px;
  }
  .App_right_sidebar i{
    margin-right: 5px;
    font-size: 20px;
    
  }

  h5{
    padding-top:10px;
    margin-left:0px
  }

  .w3-rightbar{
   display:none
  }
  .w3-bottombar{
    width:100%;
  }

 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .navbar-expand-lg{
    position: static;
    margin-top: -35px;
    margin-right: -10px;
    float:right;
  
  }
 
  .App_right_sidebar{
    flex-direction: row;
    float:left;
    margin-left: 140px;
    margin-top:20px;
  }
  .App_right_sidebar i{
    margin-right: 5px;
    font-size: 20px;
    
  }

  h5{
    padding-top:10px;
    margin-left:0px
  }

} 